@import url('https://fonts.googleapis.com/css2?family=Hind:wght@700&family=Varela+Round&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    border: none;
    font-family: "Varela Round", sans-serif;
    color: #807256;
  }

html, body {
	height: 100%;
    margin: 0;
}

body {
    background-image: url(/images/icons/bg.svg);
    background-color: #097044;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: main;
}
a:link {
    color: #74664B;
    text-decoration: none;
}
a:visited{
    color: #74664B;
    text-decoration: none;
}

.copyright{
    text-align: center;
    color: #74664b;
    font-size: 11px;
    font-weight: bold;
    margin-top: 15px;
}

.title {
    text-align: center;
	color: #807256;
    font-size: 35px;
    font-weight: bold;
    margin-top: 30px;
}

.back {
    vertical-align: middle;
    width: 125px;
    background-color: #F7F5DE;
    border: none;
    border-radius: 25px;
    text-align: center;
    padding: 12px;
    cursor: pointer;
}


.resources {
    display: none;
  }

.progress {
  display: none;
}

/*CONTACT*/

/*button {
    width: 100%;
    height: auto;
    background: none;
    border-radius: 25px;
    cursor: pointer;
    flex-direction: row;
    padding: 10px 10px 10px 10px;
}

button:hover {
    transform: scale(1.05);
    border-radius: 25px;
}*/

.contact {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    .contact-image {
    width: 40%;
    height: auto;    
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    margin: 5px;
    }
    .contact-image-right {
        width: auto;
        position: absolute;
        bottom: 5%;
        height: auto;    
        border-radius: 25px;
        cursor: pointer;
        padding: 10px 10px 10px 10px;
        margin: auto;
        }
    
    .contact-postcard {
        width: 100%;
        transition: transform .15s;
        border-radius: 25px;
    }
    .contact-image:hover {
        transform: scale(1.05);
        border-radius: 25px;
    }

    #contact-form {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    display: none;
    border-radius: 25px;
    background: #D0DD8E75;
    justify-content: center;
    margin: auto;
}

.contact-form-postcard {
    width: 75%;
    height: auto;
    border-radius: 25px;
}

.contact-bar {
    background: #F7F5DE;
    vertical-align: top;
    text-align: center;
    justify-content: center;
    top: 0px;
    font-size: xx-large;
    font-weight: bolder;
    padding: 20px 20px 20px 20px;
    color: #74664B;
    display: flex;
}
.contact-bar-bottom {
    background: #F7F5DE;
    width: 100%;
    text-align: center;
    bottom: 0px;
    font-size: xx-large;
    font-weight: bolder;
    padding: 20px 20px 20px 20px;
    color: #74664B;
    position: absolute;
}

input[type=text], select, textarea {
    width: 1000px;
    padding: 12px;
    border: none;
    resize: none;
    background-color: #F7F5DE;
  }
  
  input[type=submit] {
    padding: 20px 20px 20px 20px;
    background: #0AC6B8;
    color: #F7F5DE;
    border: none;
    border-radius: 45px;
    font-size: 50px;
    width: 250px;
  }
  
  input[type=submit]:hover {
    border: none;
    background: repeating-linear-gradient(-50deg, #00B6A9 40% 50%, #0AC6B8 50% 60%);
    animation: submitHover .9s infinite;
    animation-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
  }

  @keyframes submitHover {
    from{background: repeating-linear-gradient(-50deg, #00B6A9 40% 50%, #0AC6B8 50% 60%);}
    to{background: repeating-linear-gradient(-50deg, #0AC6B8 40% 50%, #00B6A9 50% 60%);}
  }

/*PHONE*/
.phone-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.phone {
    width: 400px;
    height: 600px;
    background: #fdf8e3;
    border-radius: 110px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.1);
}

.status-bar {
    height: 30px;
    margin-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    font-weight: bold;
    color: #E0DACA;
}

.status-icon {
    width: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.status-icon-image {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

.app-grid {
    height: 340px;
    margin-top: 25px;
    margin-left: 45px;
    margin-right: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;
}

.app-icon, .app-icon-insta {
    width: 98px;
    height: 98px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 25px;
}

.app-icon-insta:hover{
    background: linear-gradient( #B380DC , #ED87FC);
    animation: cameraHover 1.5s infinite;
    animation-timing-function: ease;
    transition-timing-function: ease;
}

@keyframes cameraHover {
    0% {background:linear-gradient(0deg, #B380DC , #ED87FC);}
    10% {background:linear-gradient(360deg, #B380DC , #ED87FC);}
    20% {background:linear-gradient(320deg, #B380DC , #ED87FC);}
    30% {background:linear-gradient(280deg, #B380DC , #ED87FC);}
    40% {background:linear-gradient(240deg, #B380DC , #ED87FC);}
    50% {background:linear-gradient(200deg, #B380DC , #ED87FC);}
    60% {background:linear-gradient(160deg, #B380DC , #ED87FC);}
    70% {background:linear-gradient(120deg, #B380DC , #ED87FC);}
    80% {background:linear-gradient(80deg, #B380DC , #ED87FC);}
    90% {background:linear-gradient(40deg, #B380DC , #ED87FC);}
    100% {background:linear-gradient(0deg, #B380DC , #ED87FC);}
}

.app-icon:hover {
    transform: scale(1.15);
}

.app-icon-image {
    width: 98px;
    height: 98px;
    transition: transform .15s;
    border-radius: 25px;
}

.app-icon-image:hover {
    transform: scale(1.15);
    border-radius: 25px;
    rotate: -11deg;
}
